<div class="centrado">
    <div class="tarjeta tarjeta-login">
        <div class="field">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-user"></i>
                <input pInputText placeholder="Nro. Documento" class="w-full">
            </span>
        </div>
        <div class="field">
            <span class="p-input-icon-left w-full">
                <i class="pi pi-key"></i>
                <input pPassword type="password" [feedback]="false" placeholder="Contraseña" class="w-full">
            </span>
        </div>
        <div class="field">
            <button pButton label="Login" class="w-full" icon="pi pi-unlock"></button>
        </div>
    </div>
</div>