<div class="field">
    <Label for="codigo">Código</Label>
    <p-inputNumber id="codigo" styleClass="w-full" class="ng-invalid ng-dirty" class="w-full" [(ngModel)]="codigo"
    [ngClass]="{'ng-invalid': !codigoValido, 'ng-dirty': !codigoValido}">
    </p-inputNumber>
    <small *ngIf="!codigoValido" id="codigo-help" class="p-error block">Ingresar código del libro.</small>
</div>
<div class="field">
    <Label for="titulo">Título</Label>
    <input id="titulo" type="text" class="w-full" [(ngModel)]="titulo" pInputText
    [ngClass]="{'ng-invalid': !tituloValido, 'ng-dirty': !tituloValido}">
    <small *ngIf="!tituloValido" id="titulo-help" class="p-error block">Ingresar título del libro.</small>
</div>
<div class="field">
    <Label for="autor">Autor</Label>
    <p-dropdown 
        id="autor" 
        class="w-full" 
        styleClass="w-full" 
        [options]="listaAutores" 
        [(ngModel)]="idautor" 
        optionLabel="nombre" 
        optionValue="id"
        placeholder="Seleccionar..."
        [showClear]="true">
    </p-dropdown>

    <!--input id="autor" type="text" class="w-full" [(ngModel)]="autor" pInputText
        [ngClass]="{'ng-invalid': !autorValido, 'ng-dirty': !autorValido}">-->
    <small *ngIf="!autorValido" id="autor-help" class="p-error block">Ingresar autor del libro.</small>
</div>
<div class="field">
    <Label for="paginas">Páginas</Label>
    <p-inputNumber id="paginas=" styleClass="w-full" class="w-full" [(ngModel)]="paginas"
    [ngClass]="{'ng-invalid': !paginasValido, 'ng-dirty': !paginasValido}">
    </p-inputNumber>
    <small *ngIf="!paginasValido" id="paginas-help" class="p-error block">Ingresar páginas del libro.</small>
</div>
<div class="field">
    <button pButton label="Guardar" icon="pi pi-save" (click)="guardar()" [loading]="guardando"></button>
    <button pButton label="Limpiar" icon="pi pi-trash" class="p-button-secondary" style="margin-left: 10px;" (click)="limpiarFomrs()"></button>
</div>
<p-messages [(value)]="mensajes"></p-messages>                                   