<div class="tarjeta">
    <div style="margin-bottom: 15px;">
        <button pButton label="Agregar" icon="pi pi-plus" (click)="mostrarDialogo()"></button>
    </div>
    <p-table [value]="listaLibros" [loading]="cargando">
        <ng-template pTemplate="header">
            <tr>
                <th>Código</th>
                <th>Título</th>
                <th>Autor</th>
                <th>Nro. Páginas</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-libro>
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.autor }}</td>
                <td>{{ libro.paginas }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<p-dialog header="Registrar Libro" [(visible)]="dialogoVisible" [modal]="true">
    <app-formulario-libro></app-formulario-libro>
</p-dialog>