<p-table [value]="listaLibros" [loading]="cargando">
    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Nro. Páginas</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-libro>
        <tr>
            <td>{{ libro.id }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.paginas }}</td>
        </tr>
    </ng-template>
</p-table>